<f:if condition="{data.tx_mask_content_type} == 1">
    <f:comment>Boxed</f:comment>
    <section class="content second" {f:if(condition: data.tx_mask_content_anchor, then: 'id="{data.tx_mask_content_anchor}"')} >
      <div class="grid-container">
        <div class="grid-x">
          <div class="cell">
            <div class="grid-container">
              <div class="grid-x grid-margin-x">
                <div class="cell medium-5 medium-offset-2">
                  <h2>
                    <f:format.raw>{data.header}</f:format.raw>
                  </h2>
                </div>
                <div class="cell medium-8 medium-offset-2">
                  <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{data.bodytext}</f:format.html>
                    <div class="content-slider">
                        <f:for each="{data.image}" as="file">
                            <div>
                                <f:image image="{file}" alt="{file.alternative}" title="{file.title}" />
                            </div>
                        </f:for>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
</f:if>
<f:if condition="{data.tx_mask_content_type} == 2">
    <f:comment>Wide</f:comment>
    <section class="content ninth">
        <div class="grid-container">
            <div class="grid-x">
                <div class="cell">
                    <div class="grid-container">
                        <div class="grid-x grid-margin-x">
                            <div class="cell medium-10 medium-offset-1">
                                <h2>
                                    <f:format.raw>{data.header}</f:format.raw>
                                </h2>
                                <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{data.bodytext}</f:format.html>
                                <f:for each="{data.image}" as="file">
                                    <f:image image="{file}" alt="{file.alternative}" title="{file.title}" />
                                </f:for>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</f:if>
<f:if condition="{data.tx_mask_content_type} == 3">
    <f:comment>Background Image</f:comment>
    <section class="content fifth">
        <div class="grid-container full">
            <div class="grid-x">
                <div class="cell medium-6">
                    <div class="grid-container">
                        <div class="grid-x grid-padding-x">
                            <div class="cell medium-7 medium-offset-5">
                                <h2>
                                    <f:format.raw>{data.header}</f:format.raw>
                                </h2>
                                <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{data.bodytext}</f:format.html>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cell medium-6">
                    <f:for each="{data.image}" as="file">
                        <f:image image="{file}" alt="{file.alternative}" title="{file.title}" />
                    </f:for>
                </div>
            </div>
        </div>
    </section>
</f:if>
