<section class="content third">
    <div class="grid-container">
        <div class="grid-x">
            <div class="cell">
                <div class="grid-container">
                    <div class="grid-x grid-margin-x">
                        <f:for each="{data.tx_mask_facts}" as="data_item" iteration="iteration">
                            <f:if condition="{iteration.isFirst}">
                                <f:then>
                                    <div class="cell medium-2 medium-offset-2">
                                        <h4>
                                            <f:format.raw>
                                                {data_item.tx_mask_facts_headline}
                                            </f:format.raw>
                                        </h4>
                                        <h5>
                                            <f:format.raw>
                                                {data_item.tx_mask_facts_cat}
                                            </f:format.raw>
                                        </h5>
                                        <p>
                                            <f:format.raw>
                                                {data_item.tx_mask_facts_desc}
                                            </f:format.raw>
                                        </p>
                                    </div>
                                </f:then>
                                <f:else>
                                    <div class="cell medium-3">
                                        <h4>
                                            <f:format.raw>
                                                {data_item.tx_mask_facts_headline}
                                            </f:format.raw>
                                        </h4>
                                        <h5>
                                            <f:format.raw>
                                                {data_item.tx_mask_facts_cat}
                                            </f:format.raw>
                                        </h5>
                                        <p>
                                            <f:format.raw>
                                                {data_item.tx_mask_facts_desc}
                                            </f:format.raw>
                                        </p>
                                    </div>
                                </f:else>
                            </f:if>
                        </f:for>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>