<section class="content twelth">
    <div class="grid-container">
        <div class="grid-x">
            <div class="cell">
                <div class="grid-container">
                    <div class="grid-x grid-margin-x" data-equalizer data-equalize-on="medium"  id="test-eq">

                        <div class="cell medium-5">
                            <h2>
                                <span><f:format.raw>{data.header}</f:format.raw></span>
                            </h2>
                            <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{data.bodytext}</f:format.html>
                            <f:if condition="{data.header_link}">
                                <f:link.typolink parameter="{data.header_link}" class="button large primary">{data.header_link}</f:link.typolink>
                            </f:if>

                        </div>
                        <div class="cell medium-7">
                            <f:if condition="{data.tx_mask_form_twingle}">
                                <f:format.raw>{data.tx_mask_form_twingle}</f:format.raw>
                            </f:if>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>