<section class="header-img" style="background-image: url({file.publicUrl -> f:for(each: '{data.image}', as: 'file')});">
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell">
        <div class="grid-container">
          <div class="grid-x grid-margin-x">
            <div class="cell align-self-middle">
              <h1>
                <f:format.raw>
                  {data.header}
                </f:format.raw>
                <br/>
                <span>
                  <f:format.raw>
                  {data.subheader}
                </f:format.raw>
                </span>
              </h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>