<section class="content first">
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell">
        <div class="grid-container">
          <div class="grid-x grid-margin-x">
            <div class="cell medium-5">
              <f:for each="{data.image}" as="file" iteration="iteration">
                <f:if condition="{iteration.isFirst}">
                  <f:image image="{file}" alt="{file.alternative}" title="{file.title}"/>
                </f:if>
              </f:for>
            </div>
            <div class="cell medium-5 medium-offset-2">
              <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{data.bodytext}</f:format.html>
            </div>
            <div class="cell medium-5 medium-offset-1 img-2">
              <f:for each="{data.image}" as="file" iteration="iteration">
                <f:if condition="{iteration.isLast}">
                  <f:image image="{file}" alt="{file.alternative}" title="{file.title}"/>
                </f:if>
              </f:for>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>