<f:layout name="Default" />
<f:section name="Main">
        <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '1'}" />
        <!--TYPO3SEARCH_begin-->
        <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '0'}" />
        <!--TYPO3SEARCH_end-->
</f:section>



