<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:e="http://typo3.org/ns/DERHANSEN/SfEventMgt/ViewHelpers"
	  data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="main">
	<f:comment>
	<e:title pageTitle="{event.title}" />
	</f:comment>

	<section class="content sixth">
		<div class="grid-container">
			<div class="grid-x">
				<div class="cell">
					<div class="grid-container">
						<div class="grid-x grid-margin-x">
							<div class="cell medium-10 medium-offset-1">
								<h5>Kommende Veranstaltung</h5>
								<h2>
									<f:format.raw>{event.title}</f:format.raw>
								</h2>
								<p>{event.location.title} / <f:format.date format="%d. %B %Y">{event.startdate}</f:format.date></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="content seventh">
		<div class="grid-container">
			<div class="grid-x">
				<div class="cell">
					<div class="grid-container">
						<div class="grid-x grid-margin-x">
							<div class="cell medium-5 medium-offset-1">
								<f:format.html>{event.description}</f:format.html>
							</div>
							<div class="cell medium-5 agenda">
								<f:format.raw>{event.program}</f:format.raw>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="content eighth">
		<div class="grid-container">
			<div class="grid-x">
				<div class="cell">
					<div class="grid-container">
						<div class="grid-x grid-margin-x">
							<div class="cell medium-10 medium-offset-1">
								<h5>Anfahrt</h5>
								<div id="map" style="    width: 100%; height: 580px;"></div>


							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

</f:section>

</html>