<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:e="http://typo3.org/ns/DERHANSEN/SfEventMgt/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default" />
<f:section name="main">
    <e:title pageTitle="{event.title}" />

    <f:form object="{registration}" name="registration" action="saveRegistration" arguments="{event: event}" class="registration" enctype="multipart/form-data">
    <div class="cell list-cell">
        <div class="grid-x grid-margin-x">

            <div class="cell">
                <h3><f:format.date format="%d.%m.%Y - %H:%M">{event.startdate}</f:format.date> - <f:format.date format="%d.%m.%Y - %H:%M">{event.enddate}</f:format.date></h3>
            </div>
            <div class="cell">
                <label for="gender">
                    <f:translate key="tx_sfeventmgt_domain_model_registration.gender" />
                    <e:registration.isRequiredField settings="{settings}" fieldname="gender">
                        <span class="event-required">*</span>
                    </e:registration.isRequiredField>
                </label>


                    <f:form.radio name="gender" property="gender" value=""/> <f:translate key="tx_sfeventmgt_domain_model_registration.gender.notset" />

                    <f:form.radio name="gender" property="gender" value="f"/> <f:translate key="tx_sfeventmgt_domain_model_registration.gender.female" />

                    <f:form.radio name="gender" property="gender" value="m"/> <f:translate key="tx_sfeventmgt_domain_model_registration.gender.male" />

                    <f:form.radio name="gender" property="gender" value="v"/> <f:translate key="tx_sfeventmgt_domain_model_registration.gender.various" />
            </div>
            <div class="cell medium-6">
                <label><f:translate key="tx_sfeventmgt_domain_model_registration.lastname" />
                    <e:registration.isRequiredField settings="{settings}" fieldname="lastname">
                        <span class="event-required">*</span>
                    </e:registration.isRequiredField>
                    <f:form.textfield id="lastname" property="lastname" value="{e:prefill(fieldname: 'lastname', prefillSettings: '{settings.registration.prefillFields}')}"/>
                    <f:render partial="FormErrors" arguments="{field: 'registration.lastname'}"/>
                </label>
            </div>
            <div class="cell medium-6">
                <label>Abteilung:
                    <input type="text" placeholder="Abteilung" />
                </label>
            </div>
            <div class="cell medium-6">
                <label><f:translate key="tx_sfeventmgt_domain_model_registration.company" />
                    <e:registration.isRequiredField settings="{settings}" fieldname="company">
                        <span class="event-required">*</span>
                    </e:registration.isRequiredField>
                    <f:form.textfield id="company" property="company" value="{e:prefill(fieldname: 'company', prefillSettings: '{settings.registration.prefillFields}')}"/>
                    <f:render partial="FormErrors" arguments="{field: 'registration.company'}"/>
                </label>
            </div>
            <div class="cell medium-6">
                <label><f:translate key="tx_sfeventmgt_domain_model_registration.address" />
                    <e:registration.isRequiredField settings="{settings}" fieldname="address">
                        <span class="event-required">*</span>
                    </e:registration.isRequiredField>
                    <f:form.textfield id="address" property="address" value="{e:prefill(fieldname: 'address', prefillSettings: '{settings.registration.prefillFields}')}"/>
                    <f:render partial="FormErrors" arguments="{field: 'registration.address'}"/>
                </label>
            </div>
            <div class="cell medium-2">
                <label><f:translate key="tx_sfeventmgt_domain_model_registration.zip" />
                    <e:registration.isRequiredField settings="{settings}" fieldname="zip">
                        <span class="event-required">*</span>
                    </e:registration.isRequiredField>
                </label>
                <f:form.textfield id="zip" property="zip" value="{e:prefill(fieldname: 'zip', prefillSettings: '{settings.registration.prefillFields}')}"/>
                <f:render partial="FormErrors" arguments="{field: 'registration.zip'}"/>

            </div>
            <div class="cell medium-4">
                <label><f:translate key="tx_sfeventmgt_domain_model_registration.city" />
                    <e:registration.isRequiredField settings="{settings}" fieldname="city">
                        <span class="event-required">*</span>
                    </e:registration.isRequiredField>
                </label>
                <f:form.textfield id="city" property="city" value="{e:prefill(fieldname: 'city', prefillSettings: '{settings.registration.prefillFields}')}"/>
                <f:render partial="FormErrors" arguments="{field: 'registration.city'}"/>

            </div>
            <div class="cell medium-6">
                <label><f:translate key="tx_sfeventmgt_domain_model_registration.country" />
                    <e:registration.isRequiredField settings="{settings}" fieldname="country">
                        <span class="event-required">*</span>
                    </e:registration.isRequiredField>
                </label>
                <f:form.textfield id="country" property="country" value="{e:prefill(fieldname: 'country', prefillSettings: '{settings.registration.prefillFields}')}"/>
                <f:render partial="FormErrors" arguments="{field: 'registration.country'}"/>

            </div>
            <div class="cell medium-6">
                <label><f:translate key="tx_sfeventmgt_domain_model_registration.email" />
                    <e:registration.isRequiredField settings="{settings}" fieldname="email">
                        <span class="event-required">*</span>
                    </e:registration.isRequiredField>
                </label>
                <f:form.textfield id="email" property="email" value="{e:prefill(fieldname: 'email', prefillSettings: '{settings.registration.prefillFields}')}"/>
                <f:render partial="FormErrors" arguments="{field: 'registration.email'}"/>
            </div>
            <div class="cell medium-12">
                <label> <f:translate key="tx_sfeventmgt_domain_model_registration.notes" />
                    <e:registration.isRequiredField settings="{settings}" fieldname="notes">
                        <span class="event-required">*</span>
                    </e:registration.isRequiredField>

                <f:form.textarea id="notes" property="notes"/>
                <f:render partial="FormErrors" arguments="{field: 'registration.notes'}"/>
                </label>
            </div>
            <div class="cell">
                <div class="grid-x grid-margin-x list-cell">
                    <div class="cell">
                        <p>Die Teilnahmegebühr versteht sich netto zzgl. der gesetzlichen MwSt. und enthält Arbeitsunterlagen, Getränke und Mittagessen. Die Teilnehmerzahl ist begrenzt, Anmeldungen werden in der Reihenfolge des Eingangs berücksichtigt.
                            Jede Anmeldung wird von SMT schriftlich bestätigt. Die Teilnahme an der Veranstaltung setzt Rechnungsausgleich voraus. Programmänderungen vorbehalten. Ebenso behält sich SMT das Recht vor, den Seminartermin auch nach erfolgter
                            Anmeldebestätigung unter Rückerstattung der Gebühren abzusagen. Bei Stornierung der Anmeldung wird eine Bearbeitungsgebühr in Höhe von EUR 60,00 zzgl. gesetzlicher MwSt. pro Person erhoben, wenn die Absage bis spätestens 15
                            Tage vor Veranstaltungsbeginn schriftlich bei SMT eingeht. Bei Nichterscheinen des Teilnehmers bzw. einer verspäteten Abmeldung besteht kein Anspruch auf Rückerstattung der Teilnahmegebühr. Selbstverständlich ist eine Vertretung
                            des angemeldeten Teilnehmers möglich. Diese Ummeldung muss schriftlich erfolgen. Mit Ihrer Anmeldung erkennen Sie unsere Teilnahmebedingungen an.
                        </p>
                    </div>
                </div>
            </div>

            <div class="cell medium-4 medium-offset-8">
                <div class="grid-x grid-margin-x list-cell">
                    <div class="cell">
                        <f:form.submit value="{f:translate(key:'event.submit-registration')}" class="secondary button"/>

                    </div>
                </div>
            </div>

        </div>
    </div>

    </f:form>
<f:comment>
    <f:if condition="{event.registrationPossible}">
        <f:then>
            <e:title pageTitle="{event.title}" />

            <h1><f:translate key="registration.title" /></h1>

            <div class="event-registration-row">
                <div class="event-registration-label">
                    <f:translate key="tx_sfeventmgt_domain_model_event.title" />
                </div>
                <div class="event-registration-value event-title">
                    {event.title}
                </div>
                <div class="clear"></div>
            </div>

            <div class="event-registration-row">
                <div class="event-list-label">
                    <f:translate key="tx_sfeventmgt_domain_model_event.startdate"/>
                </div>
                <div class="event-list-value event-startdate">
                    <f:format.date format="%d.%m.%Y - %H:%M">{event.startdate}</f:format.date>
                </div>
                <div class="clear"></div>
            </div>
            <div class="event-registration-row">
                <div class="event-list-label">
                    <f:translate key="tx_sfeventmgt_domain_model_event.enddate"/>
                </div>
                <div class="event-list-value event-enddate">
                    <f:format.date format="%d.%m.%Y - %H:%M">{event.enddate}</f:format.date>
                </div>
                <div class="clear"></div>
            </div>
            <div class="event-registration-row">
                <div class="event-list-label">
                    <f:translate key="tx_sfeventmgt_domain_model_event.maxParticipants"/>
                </div>
                <div class="event-list-value event-maxparticipants">
                    {event.maxParticipants}
                </div>
                <div class="clear"></div>
            </div>
            <div class="event-registration-row">
                <div class="event-list-label">
                    <f:translate key="tx_sfeventmgt_domain_model_event.registrations"/>
                </div>
                <div class="event-list-value event-registrations">
                    {event.registrations->f:count()}
                </div>
                <div class="clear"></div>
            </div>
            <f:if condition="{event.currentPrice} > 0">
                <div class="event-registration-row">
                    <div class="event-list-label">
                        <f:translate key="tx_sfeventmgt_domain_model_event.price"/>
                    </div>
                    <div class="event-list-value event-price">
                        {event.currentPrice} {event.currency}
                    </div>
                    <div class="clear"></div>
                </div>
            </f:if>
            <f:if condition="{event.location}">
                <div class="event-registration-row">
                    <div class="event-list-label">
                        <f:translate key="tx_sfeventmgt_domain_model_event.location"/>
                    </div>
                    <div class="event-list-value event-price">
                        {event.location.title}
                    </div>
                    <div class="clear"></div>
                </div>
            </f:if>

            <h2><f:translate key="registration.form.header" /></h2>

            <f:if condition="{event.enableWaitlist}">
                <f:if condition="{event.registrations->f:count()} >= {event.maxParticipants}">
                    <p>
                        <strong><f:translate key="registration.form.waitlist" /></strong>
                    </p>
                </f:if>
            </f:if>

            <f:form object="{registration}" name="registration" action="saveRegistration" arguments="{event: event}" class="registration" enctype="multipart/form-data">
                <fieldset>
                    <div class="event-registration-row {e:validation.errorClass(fieldname: 'gender')}">
                        <label for="gender">
                            <f:translate key="tx_sfeventmgt_domain_model_registration.gender" />
                            <e:registration.isRequiredField settings="{settings}" fieldname="gender">
                                <span class="event-required">*</span>
                            </e:registration.isRequiredField>
                        </label>

                        <label>
                            <f:form.radio name="gender" property="gender" value=""/> <f:translate key="tx_sfeventmgt_domain_model_registration.gender.notset" />
                        </label>
                        <label>
                            <f:form.radio name="gender" property="gender" value="f"/> <f:translate key="tx_sfeventmgt_domain_model_registration.gender.female" />
                        </label>
                        <label>
                            <f:form.radio name="gender" property="gender" value="m"/> <f:translate key="tx_sfeventmgt_domain_model_registration.gender.male" />
                        </label>
                        <label>
                            <f:form.radio name="gender" property="gender" value="v"/> <f:translate key="tx_sfeventmgt_domain_model_registration.gender.various" />
                        </label>
                    </div>

                    <div class="event-registration-row {e:validation.errorClass(fieldname: 'firstname')}">
                        <label for="firstname">
                            <f:translate key="tx_sfeventmgt_domain_model_registration.firstname" />
                            <e:registration.isRequiredField settings="{settings}" fieldname="firstname">
                                <span class="event-required">*</span>
                            </e:registration.isRequiredField>
                        </label>
                        <f:form.textfield id="firstname" property="firstname" value="{e:prefill(fieldname: 'firstname', prefillSettings: '{settings.registration.prefillFields}')}"/><br>
                        <f:render partial="FormErrors" arguments="{field: 'registration.firstname'}"/>
                    </div>

                    <div class="event-registration-row {e:validation.errorClass(fieldname: 'lastname')}">
                        <label for="lastname">
                            <f:translate key="tx_sfeventmgt_domain_model_registration.lastname" />
                            <e:registration.isRequiredField settings="{settings}" fieldname="lastname">
                                <span class="event-required">*</span>
                            </e:registration.isRequiredField>
                        </label>
                        <f:form.textfield id="lastname" property="lastname" value="{e:prefill(fieldname: 'lastname', prefillSettings: '{settings.registration.prefillFields}')}"/><br>
                        <f:render partial="FormErrors" arguments="{field: 'registration.lastname'}"/>
                    </div>

                    <div class="event-registration-row {e:validation.errorClass(fieldname: 'title')}">
                        <label for="title">
                            <f:translate key="tx_sfeventmgt_domain_model_registration.title" />
                            <e:registration.isRequiredField settings="{settings}" fieldname="title">
                                <span class="event-required">*</span>
                            </e:registration.isRequiredField>
                        </label>
                        <f:form.textfield id="title" property="title" value="{e:prefill(fieldname: 'title', prefillSettings: '{settings.registration.prefillFields}')}"/><br>
                        <f:render partial="FormErrors" arguments="{field: 'registration.title'}"/>
                    </div>

                    <div class="event-registration-row {e:validation.errorClass(fieldname: 'company')}">
                        <label for="company">
                            <f:translate key="tx_sfeventmgt_domain_model_registration.company" />
                            <e:registration.isRequiredField settings="{settings}" fieldname="company">
                                <span class="event-required">*</span>
                            </e:registration.isRequiredField>
                        </label>
                        <f:form.textfield id="company" property="company" value="{e:prefill(fieldname: 'company', prefillSettings: '{settings.registration.prefillFields}')}"/><br>
                        <f:render partial="FormErrors" arguments="{field: 'registration.company'}"/>
                    </div>

                    <div class="event-registration-row {e:validation.errorClass(fieldname: 'address')}">
                        <label for="address">
                            <f:translate key="tx_sfeventmgt_domain_model_registration.address" />
                            <e:registration.isRequiredField settings="{settings}" fieldname="address">
                                <span class="event-required">*</span>
                            </e:registration.isRequiredField>
                        </label>
                        <f:form.textfield id="address" property="address" value="{e:prefill(fieldname: 'address', prefillSettings: '{settings.registration.prefillFields}')}"/><br>
                        <f:render partial="FormErrors" arguments="{field: 'registration.address'}"/>
                    </div>

                    <div class="event-registration-row {e:validation.errorClass(fieldname: 'zip')}">
                        <label for="zip">
                            <f:translate key="tx_sfeventmgt_domain_model_registration.zip" />
                            <e:registration.isRequiredField settings="{settings}" fieldname="zip">
                                <span class="event-required">*</span>
                            </e:registration.isRequiredField>
                        </label>
                        <f:form.textfield id="zip" property="zip" value="{e:prefill(fieldname: 'zip', prefillSettings: '{settings.registration.prefillFields}')}"/><br>
                        <f:render partial="FormErrors" arguments="{field: 'registration.zip'}"/>
                    </div>

                    <div class="event-registration-row {e:validation.errorClass(fieldname: 'city')}">
                        <label for="city">
                            <f:translate key="tx_sfeventmgt_domain_model_registration.city" />
                            <e:registration.isRequiredField settings="{settings}" fieldname="city">
                                <span class="event-required">*</span>
                            </e:registration.isRequiredField>
                        </label>
                        <f:form.textfield id="city" property="city" value="{e:prefill(fieldname: 'city', prefillSettings: '{settings.registration.prefillFields}')}"/><br>
                        <f:render partial="FormErrors" arguments="{field: 'registration.city'}"/>
                    </div>

                    <div class="event-registration-row {e:validation.errorClass(fieldname: 'country')}">
                        <label for="country">
                            <f:translate key="tx_sfeventmgt_domain_model_registration.country" />
                            <e:registration.isRequiredField settings="{settings}" fieldname="country">
                                <span class="event-required">*</span>
                            </e:registration.isRequiredField>
                        </label>
                        <f:form.textfield id="country" property="country" value="{e:prefill(fieldname: 'country', prefillSettings: '{settings.registration.prefillFields}')}"/><br>
                        <f:render partial="FormErrors" arguments="{field: 'registration.country'}"/>
                    </div>

                    <div class="event-registration-row {e:validation.errorClass(fieldname: 'email')}">
                        <label for="email">
                            <f:translate key="tx_sfeventmgt_domain_model_registration.email" />
                            <e:registration.isRequiredField settings="{settings}" fieldname="email">
                                <span class="event-required">*</span>
                            </e:registration.isRequiredField>
                        </label>
                        <f:form.textfield id="email" property="email" value="{e:prefill(fieldname: 'email', prefillSettings: '{settings.registration.prefillFields}')}"/><br>
                        <f:render partial="FormErrors" arguments="{field: 'registration.email'}"/>
                    </div>

                    <div class="event-registration-row {e:validation.errorClass(fieldname: 'phone')}">
                        <label for="phone">
                            <f:translate key="tx_sfeventmgt_domain_model_registration.phone" />
                            <e:registration.isRequiredField settings="{settings}" fieldname="phone">
                                <span class="event-required">*</span>
                            </e:registration.isRequiredField>
                        </label>
                        <f:form.textfield id="phone" property="phone" value="{e:prefill(fieldname: 'phone', prefillSettings: '{settings.registration.prefillFields}')}"/><br>
                        <f:render partial="FormErrors" arguments="{field: 'registration.phone'}"/>
                    </div>

                    <div class="event-registration-row {e:validation.errorClass(fieldname: 'date_of_birth')}">
                        <label for="dateOfBirth">
                            <f:translate key="tx_sfeventmgt_domain_model_registration.date_of_birth" />
                            <e:registration.isRequiredField settings="{settings}" fieldname="date_of_birth">
                                <span class="event-required">*</span>
                            </e:registration.isRequiredField>
                        </label>
                        <f:form.textfield id="dateOfBirth" property="dateOfBirth" /><br>
                        <f:render partial="FormErrors" arguments="{field: 'registration.dateOfBirth'}"/>
                    </div>

                    <f:if condition="{event.maxRegistrationsPerUser} > 1">
                        <div class="event-registration-row">
                            <label for="amountOfRegistrations"><f:translate key="tx_sfeventmgt_domain_model_registration.amountOfRegistrations" /></label>
                            <f:form.select id="amountOfRegistrations" property="amountOfRegistrations" options="{e:event.simultaneousRegistrations(event: '{event}')}" />
                        </div>
                    </f:if>

                    <f:if condition="{event.enablePayment}">
                        <br/>
                        <div class="event-registration-row">
                            <label for="paymentmethod"><f:translate key="tx_sfeventmgt_domain_model_registration.paymentmethod" /></label>
                            <f:form.select id="paymentmethod" property="paymentmethod" options="{paymentMethods}" />
                        </div>
                    </f:if>

                    <br/>
                    <div class="event-registration-row {e:validation.errorClass(fieldname: 'notes')}">
                        <label for="notes">
                            <f:translate key="tx_sfeventmgt_domain_model_registration.notes" />
                            <e:registration.isRequiredField settings="{settings}" fieldname="notes">
                                <span class="event-required">*</span>
                            </e:registration.isRequiredField>
                        </label>
                        <f:form.textarea id="notes" property="notes"/><br>
                        <f:render partial="FormErrors" arguments="{field: 'registration.notes'}"/>
                    </div>

                    <f:if condition="{event.registrationFields}">
                        <f:for each="{event.registrationFields}" as="field">
                            <f:render partial="Registration/Fields/{field.partialName}" arguments="{field: field}" />
                        </f:for>
                    </f:if>

                    <div class="event-registration-row checkbox {e:validation.errorClass(fieldname: 'accepttc')}">
                        <label for="accepttc">
                            <f:form.checkbox id="accepttc" property="accepttc" value="1"/>
                            <f:translate key="tx_sfeventmgt_domain_model_registration.accepttc"/>
                            <e:registration.isRequiredField settings="{settings}" fieldname="accepttc">
                                <span class="event-required">*</span>
                            </e:registration.isRequiredField>
                        </label>
                    </div>
                    <f:render partial="FormErrors" arguments="{field: 'registration.accepttc'}"/>
                    <f:if condition="{settings.reCaptcha.siteKey}">
                        <div class="event-registration-row recaptcha {e:validation.errorClass(fieldname: 'recaptcha')}">
                            <script src="{settings.reCaptcha.apiUrl}" async defer></script>
                            <div class="g-recaptcha" data-sitekey="{settings.reCaptcha.siteKey}"></div>
                            <f:render partial="FormErrors" arguments="{field: 'registration.recaptcha'}"/>
                        </div>
                    </f:if>
                    <br/>
                    <f:form.submit value="{f:translate(key:'event.submit-registration')}" class="submit"/>
                </fieldset>
            </f:form>

            <f:if condition="{settings.detailPid}">
                <f:link.action action="detail" pageUid="{settings.detailPid}" arguments="{event: event}" class="button"><f:translate key="event.backDetailsText" /></f:link.action>
            </f:if>

            <f:link.action action="list" pageUid="{settings.listPid}" class="button"><f:translate key="event.backtext" /></f:link.action>

        </f:then>
        <f:else>

            <f:translate key="event.message.registrationnotpossible"/>

        </f:else>
    </f:if>
</f:comment>
</f:section>