<f:if condition="{settings.templateLayout} == 1">
    <li>
        <f:link.action action="detail" arguments="{event : event}" pageUid="{settings.detailPid}">
        <div>{event.title}</div>
        </f:link.action>
    </li>
</f:if>

<f:if condition="{settings.templateLayout} == 2">
    <div class="cell list-cell link">
        <f:link.action action="detail" arguments="{event : event}" pageUid="{settings.detailPid}">
            <div class="grid-x grid-margin-x">
                <div class="cell medium-2 text-left">
                    <p><f:format.date format="%d.%m.%Y">{event.startdate}</f:format.date></p>
                </div>
                <div class="cell medium-2 text-left bold">
                    <p>{event.title}</p>
                </div>
                <div class="cell medium-8">
                    <p>{event.teaser}</p>
                </div>
            </div>
        </f:link.action>
    </div>

</f:if>

<f:comment>
<div class="event-list-item">
    <div class="event-list-row">
        <h2 class="event-title">
            <f:if condition="{settings.detailPid} == ''">
                <f:then>
                    <f:link.action action="detail" controller="Event" extensionName="SfEventMgt" arguments="{event : event}" pageUid="4711">{event.title}</f:link.action>
                </f:then>
                <f:else>
                    <f:link.action action="detail" arguments="{event : event}" pageUid="{settings.detailPid}">{event.title}</f:link.action>
                </f:else>
            </f:if>
        </h2>
    </div>
    <div class="event-list-row">
        <div class="event-list-label">
            <f:translate key="tx_sfeventmgt_domain_model_event.teaser"/>
        </div>
        <div class="event-list-value event-teaser">
            {event.teaser}
        </div>
    </div>
    <div class="event-list-row">
        <div class="event-list-label">
            <f:translate key="tx_sfeventmgt_domain_model_event.startdate"/>
        </div>
        <div class="event-list-value event-startdate">
            <f:format.date format="%d.%m.%Y - %H:%M">{event.startdate}</f:format.date>
        </div>
    </div>
    <div class="event-list-row">
        <div class="event-list-label">
            <f:translate key="tx_sfeventmgt_domain_model_event.enddate"/>
        </div>
        <div class="event-list-value event-enddate">
            <f:format.date format="%d.%m.%Y - %H:%M">{event.enddate}</f:format.date>
        </div>
    </div>
    <f:if condition="{event.maxParticipants} > 0">
        <div class="event-list-row">
            <div class="event-list-label">
                <f:translate key="tx_sfeventmgt_domain_model_event.maxParticipants"/>
            </div>
            <div class="event-list-value event-maxparticipants">
                {event.maxParticipants}
            </div>
        </div>
    </f:if>
    <f:if condition="{event.enableRegistration}">
        <div class="event-list-row">
            <div class="event-list-label">
                <f:translate key="tx_sfeventmgt_domain_model_event.registrations"/>
            </div>
            <div class="event-list-value event-registrations">
                {event.registrations->f:count()}
            </div>
        </div>
    </f:if>
    <div class="event-list-row">
        <div class="event-list-label">
            <f:translate key="tx_sfeventmgt_domain_model_event.price"/>
        </div>
        <div class="event-list-value event-price">
            <f:if condition="{event.currentPrice} == 0">
                <f:then>
                    <f:translate key="event.freeofcharge" />
                </f:then>
                <f:else>
                    {event.currentPrice} {event.currency}
                </f:else>
            </f:if>
        </div>
        <div class="clear"></div>
    </div>
    <f:if condition="{event.location.title}">
        <div class="event-list-row">
            <div class="event-list-label">
                <f:translate key="tx_sfeventmgt_domain_model_event.location"/>
            </div>
            <div class="event-list-value event-location">
                {event.location.title}
            </div>
        </div>
    </f:if>
    <div class="event-list-row">
        <div class="event-list-label">
        </div>
        <div class="event-list-value event-registration">
            <f:if condition="{event.registrationPossible}">
                <f:if condition="{settings.registrationPid} !=''">
                    <f:link.action action="registration" arguments="{event : event}" pageUid="{settings.registrationPid}" class="button"><f:translate key="event.registration" /></f:link.action>
                </f:if>
            </f:if>
        </div>
    </div>
</div>
</f:comment>