<section class="content tenth">
    <div class="grid-container">
        <div class="grid-x">
            <div class="cell">
                <div class="grid-container">
                    <div class="grid-x grid-margin-x">
                        <div class="cell medium-8 medium-offset-2 text-center">
                            <h2>Verbinde Dich mit uns</h2>
                            <p>Bleib' über unsere kommenden Veranstaltungen, Fortschritte und die Arbeit der Organisation auf dem Laufenden.</p>
                        </div>
                        <div class="cell medium-2 medium-offset-4 text-center">
                            <a href="https://www.instagram.com/chanceforev" target="_blank"><i class="fab fa-instagram"></i></a>
                            <h5><a href="https://www.instagram.com/chanceforev" target="_blank">Instagram</a></h5>
                        </div>
                        <div class="cell medium-2 text-center">
                            <a href="https://www.facebook.com/chanceforev" target="_blank"><i class="fab fa-facebook-f"></i></a>
                            <h5><a href="https://www.facebook.com/chanceforev" target="_blank">Facebook</a></h5>
                        </div>
                        <f:comment>
                        <div class="cell medium-2 text-center">
                            <a><i class="fab fa-whatsapp"></i></a>
                            <h5><a>Whatsapp</a></h5>
                        </div>
                        </f:comment>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="content eleventh">
    <div class="grid-container">
        <div class="grid-x">
            <div class="cell">
                <div class="grid-container">
                    <div class="grid-x grid-margin-x">
                        <div class="cell medium-10 medium-offset-1">
                            <h2>Werde zum<br/> Chancengeber?</h2>
                            <p>Egal ob Du Dich finanziell, persönlich oder vielleicht auch materiell an unserem Projekt engagieren willst – Deine Unterstützung ist uns jederzeit willkommen.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="content twelth">
    <div class="grid-container">
        <div class="grid-x">
            <div class="cell">
                <div class="grid-container">
                    <div class="grid-x grid-margin-x" data-equalizer data-equalize-on="medium"  id="test-eq">
                        <div class="cell medium-5 medium-offset-1">
                            <h2><span>Fördermitglied werden</span></h2>
                            <p  data-equalizer-watch>und uns mit einem monatlichen Beitrag von 5 € bei unserem Projekt unterstützen. Ebenso freuen wir uns über Deine Teilnahme an Mitglieder-Veranstaltungen.</p>
                            <a href="fileadmin/public/download/beitrittserklaerung.pdf" download class="button large primary">Zum Antrag</a>
                        </div>
                        <div class="cell medium-5">
                            <h2><span>Spenden für Wasgebeta</span></h2>
                            <p data-equalizer-watch>und damit einen direkten Beitrag zur Verbesserung der Chancengleichheit vor Ort zu leisten.</p>
                            <a href="fileadmin/public/download/spendenformular.pdf" download class="button large primary">Zum Spendenformular</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="content thirteenth">
    <div class="grid-container">
        <div class="grid-x">
            <div class="cell">
                <div class="grid-container">
                    <div class="grid-x grid-margin-x">
                        <div class="cell medium-10 medium-offset-1 text-center">
                            <h2><span>Satzung</span></h2>
                            <p data-equalizer-watch>und Informationen über unsere Organisation.</p>
                            <a href="fileadmin/public/download/satzung.pdf" download class="button large primary">Zur Satzung</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="content thirteenth">
    <div class="grid-container">
        <div class="grid-x">
            <div class="cell">
                <div class="grid-container">
                    <div class="grid-x grid-margin-x">
                        <div class="cell medium-10 medium-offset-1 text-center">
                            <h6>Direkt helfen und/oder mit uns zusammenarbeiten?
                                Du möchtest unsere Projekte oder chance for in anderer Weise
                                unterstützen?
                                Wir freuen uns von Dir zu hören.</h6>
                            <f:link.email email="info@chance-for.org" class="button large primary">
                                Kontaktiere uns
                            </f:link.email>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<footer id="kontakt">
    <div class="grid-container">
        <div class="grid-x">
            <div class="cell">
                <div class="grid-container">
                    <div class="grid-x grid-margin-x">
                        <div class="cell medium-5">
                            <h5>Unsere Mission</h5>
                            <p>Mehr Chancengleichheit weltweit – zugegeben,
                                eine große Aufgabe!
                                Wir stehen für Transparenz und kommunizieren
                                öffentlich, welche finanziellen Mittel für das
                                Projekt benötigt werden.
                                Wir engagieren uns ehrenamtlich ohne Honorar –
                                und das mit Leidenschaft und aus Überzeugung.

                                Wir sind chance for – eine gemeinnützige Organisation mit Visionen aus Stuttgart.</p>


                        </div>
                        <div class="cell medium-2 medium-offset-1">
                            <h5>Kontakt</h5>
                            <p>
                                <f:link.email email="info@chance-for.org">
                                    info(at)chance-for.org
                                </f:link.email>
                                <br/>Alte Weinsteige 40<br/>70180 Stuttgart</p>
                        </div>
                        <div class="cell medium-4 medium-offset-0">
                            <h5>Spendenkonto</h5>
                            <p>GLS GEMEINSCHAFTSBANK EG BOCHUM<br/>DE70 4306 0967 7049 5993 00<br/>GENODEM1GLS</p>
                        </div>
                        <div class="cell">
                            <h5>
                                <f:for each="{footernavigation}" as="footernavigationItem">
                                    <a href="{footernavigationItem.link}">{footernavigationItem.title}</a>
                                </f:for>
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>