<div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
  <a href="/">
      <img src="typo3conf/ext/template/Resources/Public/Images/logo-chance-for.svg" alt="chance for e.V.">
  </a>
    <button class="menu-icon" type="button" data-toggle="example-menu"></button>
</div>
<div class="grid-container header-navi">
    <div class="grid-x">
        <div class="cell">
            <div class="grid-container">
                <div class="grid-x grid-margin-x">
                    <div class="cell">
                        <div class="top-bar" id="example-menu">
                            <div class="top-bar-left hide-for-small-only">
                                <ul class="dropdown menu">
                                    <li>
                                        <a href="/">
                                            <img src="typo3conf/ext/template/Resources/Public/Images/logo-chance-for.svg" alt="chance for e.V.">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="top-bar-right">
                                <ul class="menu">
                                    <li><a href="/#projekt">Projekt</a></li>
                                    <li><a href="/#spenden">Spenden</a></li>
                                    <li><a href="/#kontakt">Kontakt</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
