body {
  overflow-x: hidden;
  background-color: #1e2226;
  font-size: 46px;
  font-family: raleway, sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #fff;
}
.no-js .top-bar {
  display: none;
}
.menu input, .menu select, .menu a, .menu button {
  font-family: raleway, sans-serif;
  font-weight: 800;
  font-style: normal;

  text-transform: uppercase;
    font-size: 12px;
    color: #000000;
    letter-spacing: 3px;
    line-height: 30px;
}
.header-navi {
    position: relative;
    z-index: 100;
}
.header-navi img {
    max-height: 50px;
    padding-left: 20px;
}
.top-bar, .top-bar ul {
    background-color: #fff;
}
.title-bar {
    position: relative;
    z-index: 100;
}
.menu li {
  margin-right: 100px;
}
.menu li:last-child {
  margin-right: 0;
}
.header-img {
  background-image: url("../img/tucker-tangeman-584468-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #9f9f9f !important;
  background-position: center;
  height: 100vh;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 0;
  overflow-x: hidden;
}
.header-img .grid-container, .header-img .grid-container .grid-x {
  height: 100%;
}
h1 {
  font-family: raleway, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 80px;
  color: #000000;
  letter-spacing: 0;
  line-height: 60px;
  text-transform: uppercase !important;
  text-transform: inherit;
  -moz-hyphens: auto;
   -o-hyphens: auto;
   -webkit-hyphens: auto;
   -ms-hyphens: auto;
   hyphens: auto;
}
h1 span {
  font-family: raleway, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 50px;
  color: #000000;
  letter-spacing: -0.94px;
  line-height: 50px;
  padding-left: 220px;
  text-transform: initial;
  -moz-hyphens: auto;
   -o-hyphens: auto;
   -webkit-hyphens: auto;
   -ms-hyphens: auto;
   hyphens: auto;
}
.content{
  margin-top: 140px;
}
.content.first{
  margin-top: calc(100vh + 100px);
}
p, .content.first p, .content.eleventh p, .content.tenth p, .content.sixth p  {
  font-family: raleway, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  color: #4A4A4A;
  letter-spacing: -0.25px;
  line-height: 40px;
}
.img-2{
  margin-top: -360px;
}
h2 {
  font-family: benton-modern-display, serif;
  font-weight: 600;
  font-style: normal;
  font-size: 80px;
  color: #000000;
  letter-spacing: 0;
  line-height: 1;
  -moz-hyphens: auto;
   -o-hyphens: auto;
   -webkit-hyphens: auto;
   -ms-hyphens: auto;
   hyphens: auto;
}
h2 span {
  font-family: benton-modern-display, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  color: #000000;
  letter-spacing: -0.94px;
  line-height: 1;
  -moz-hyphens: auto;
   -o-hyphens: auto;
   -webkit-hyphens: auto;
   -ms-hyphens: auto;
   hyphens: auto;
}
h6 {
  font-family: benton-modern-display, serif;
  font-weight: 400;
  font-style: normal;

  font-size: 30px;
  color: #000000;
  letter-spacing: -0.56px;
  text-align: center;
  line-height: 40px;
}
.content p, .content p a {
  font-family: raleway, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 15px;
  color: #4A4A4A;
  letter-spacing: 0.42px;
  line-height: 30px;
}
.content.second p:first-child, .content.fifth p, .content.ninth p, .content.tenth p, .content.eleventh p, .content.second img, .content.seventh, .content.eighth, .content.third {
  margin-top: 70px;
}
.content.ninth p, .content.twelth h2, .content.sixth p{
  margin-bottom: 30px;
}
.content.third h4{
  padding-top: 30px;
}
.content.fourth .medium-4 h2{
  line-height: 40px;
  margin-bottom: 30px;
}
.content.fourth .button.primary{
  background-color: #000000;
  font-family: raleway, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 12px;
  color: #ffffff;
  letter-spacing: 3px;
  line-height: 30px;
  border-radius: 0;
  text-transform: uppercase;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 30px;
}
.help .button.primary{
  width: 100%;
}
/*.help .medium-3:first-child .button.primary{
  background-color: #00A09A;
  text-align: right;
  padding-right: 15px;
}*/
.help .medium-6 .button.primary{
  background-color: #8CCDC3;
  text-align: right;
  padding-right: 15px;
}
.help .medium-3:last-child .button.primary{
  padding-left: 20px;
  padding-right: 20px;
}
.content.fifth{
  }
.content.third h4{
    padding-top: 30px;
}
.help{
    margin-top: 30px;
    background-color: #E1F0E1;
    padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}
h3 {
  font-family: Helvetica;
  font-size: 20px;
  color: #4A4A4A;
  letter-spacing: -0.25px;
  line-height: 40px;
  -moz-hyphens: auto;
   -o-hyphens: auto;
   -webkit-hyphens: auto;
   -ms-hyphens: auto;
   hyphens: auto;
}
h4 {
  font-family: benton-modern-display, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 80px;
  color: #8CCDC3;
  letter-spacing: 0;
  line-height: 50px;
  -moz-hyphens: auto;
   -o-hyphens: auto;
   -webkit-hyphens: auto;
   -ms-hyphens: auto;
   hyphens: auto;
}
h5 {
  font-family: benton-modern-display, serif;
  font-weight: 800;
  font-style: normal;
  font-size: 12px;
  color: #000000;
  letter-spacing: 3px;
  line-height: 30px;
  text-transform: uppercase;
  -moz-hyphens: auto;
   -o-hyphens: auto;
   -webkit-hyphens: auto;
   -ms-hyphens: auto;
   hyphens: auto;

}
.content.third .cell {
    border-right: 1px solid #E6E6E6;
}
.content.third .cell:last-child {
    border-right: none;
}
.content.fifth .grid-padding-x > .cell {
    padding-left: 1.875rem;
}
.content.fourth .grid-padding-x > .cell {
    padding-left: 1.875rem;
}
.content.fourth .grid-margin-x {
    margin-left: 0;
}
.content.seventh .agenda .grid-x{
  border-bottom: 1px solid #FBC259 ;
}
.content.seventh .agenda .grid-x p{
  margin-top: 5px;
  margin-bottom: 5px;
}
.content.tenth a{
  color: #000;
}
.content{
  overflow-x: hidden;
}
.fa, .fas, .far, .fal, .fad, .fab {
    font-size: 35px;
    color: #FBC259;
    margin-top: 20px;
    margin-bottom: 10px;
}
.button.primary{
  background-color: #FBC259;
  font-family: raleway, sans-serif;
  font-weight: 800;
  font-style: normal;

  font-size: 12px;
  color: #000000;
  letter-spacing: 3px;
  line-height: 30px;
  border-radius: 0;
  text-transform: uppercase;
  padding-left: 60px;
  padding-right: 60px;
  margin-top: 30px;
}
footer{
  background-color: #000000;
  padding-top: 40px;
  color: #fff;
  margin-top: 140px;
}
footer h5{
  font-family: raleway, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 12px;
  color: #FFFFFF;
  letter-spacing: 3px;
  line-height: 30px;
}
footer p{
  font-family: raleway, sans-serif;
  font-weight: 500;
  font-style: normal;

  font-size: 15px;
  color: #B3B3B3;
  letter-spacing: 0.42px;
  line-height: 30px;
}
footer h5>a{
  margin-right: 20px;
}

/* Small only */
@media screen and (max-width: 39.9375em) {
  h1 {
      line-height: 1;
      font-size: 70px;
  }
  h1 span {
      padding-left: 0;
      line-height: 1 !important;
  }
  h2 {
      font-size: 50px;
  }
  .content.first p {
      margin-top: 30px;
  }
  .img-2 {
      margin-top: 30px;
  }
  .content.third .cell {
      border-right: none;
      border-bottom: 1px solid #E6E6E6;
  }
  .content.third .cell:last-child {
      border-bottom: none;
  }
  .content.seventh .agenda .grid-x:last-child {
      border-bottom: none;
  }
  .content.first {
      margin-top: calc(100vh + 40px);
  }
  .content {
      margin-top: 50px;
  }
  .content.second p:first-child, .content.fourth p, .content.fifth p, .content.ninth p, .content.tenth p, .content.eleventh p, .content.second img, .content.seventh, .content.eighth, .content.third {
      margin-top: 30px;
  }
  .content.fourth .button.primary {
      margin-bottom: 50px;
  }
  .content.fourth .grid-padding-x > .cell {
      padding-right: 1.875rem;
  }
  .content.fourth .grid-margin-x {
      margin-right: 0;
  }
  .content h2 br {
      display: none;
  }
  .button.primary {
      width: 100%;
  }
  .help {
      padding-left: 15px;
      padding-right: 15px;
      padding-bottom: 15px;
  }
  .content.fourth .help .button.primary {
      margin-bottom: 0;
  }
  #test-eq .medium-5:last-child {
      margin-top: 50px;
  }
  .content.fifth .grid-padding-x > .cell {
      padding-right: 1.875rem;
  }
  .content p {
    -moz-hyphens: auto;
     -o-hyphens: auto;
     -webkit-hyphens: auto;
     -ms-hyphens: auto;
     hyphens: auto;
  }
  .menu-icon::after {
      background: #000;
      -webkit-box-shadow: 0 7px 0 #000,0 14px 0 #000;
      box-shadow: 0 7px 0 #000,0 14px 0 #000;
  }
  .top-bar ul {
      display: block;
  }
  .title-bar, .top-bar{
      box-shadow: 0 1px 1px lightgray;
  }
  .title-bar .menu-icon {
      right: 1rem;
      position: absolute;
  }
  .title-bar {
      position: fixed;
      top: 0;
      width: 100%;
      height: 40px;
  }
  .header-navi {
    top: 40px;
    position: fixed;
    width: 100%;
  }
    h1 {
        font-size: 45px;
    }

    h1 span {
        font-size: 35px;
    }
}


/* Small > Medium only */
@media screen and (min-width: 40em) and (max-width: 53.9375em) {
  h1 {
      line-height: 80px;
  }
  h1 span {
      padding-left: 0;
  }
  .menu li {
      margin-right: 20px;
  }
  .header-navi img {
      max-height: 20px;
      padding-left: 0;
  }
}

/* Medium and up */
@media screen and (min-width: 54em) {
  .no-js .top-bar {
    display: block;
  }

  .no-js .title-bar {
    display: none;
  }
}


/* Medium only */
@media screen and (min-width: 54em) and (max-width: 63.9375em) {
  h1 {
      line-height: 80px;
  }
  h1 span {
      padding-left: 0;
  }
}

/* Large and up */
@media screen and (min-width: 64em) {}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}


.title-bar {
  background-color: #ffffff;
}
.slick-prev:before {
    content: url(/typo3conf/ext/template/Resources/Public/Images/prev.png);
}
.slick-prev {
    left: 15px;
    z-index: 99;
}
.slick-next:before {
    content: url(/typo3conf/ext/template/Resources/Public/Images/next.png);
}
.slick-next {
    right: 15px;
}


iframe .button {
    background: red;
}